.modal-header
{
    display: flex;
    flex-direction: row-reverse;
}

.form-group label{
    margin-top: 5px;
}
.note-editor .btn-group{
    display: inline-block;
}
/*==================input fields==========*/
.rounded_input
{
    border-radius: 20px;
}
.focused_input
{
    border-color: #62a8ea;;
}
.input_top_align
{
    margin-top: 20px;
}

.chosen-container-single .chosen-single
{
    height: 32px;
    line-height: 30px;
}

.chosen-container-single .chosen-single div {
    top:6px;
}
.chosen-container-multi .chosen-choices {
    padding: 3px 6px;
    border-radius:5px;
}
.deselect_close .search-choice-close{
    margin-top: 5px;
}
.chosen-container-single .chosen-single abbr{
    top:12px;
}
.check_align .input-group .form-control{
    margin-bottom: -13px;
}
.check_align .input-group .col-form-label{
    margin-right: -6px;
}
.cus_control_indicator{
    margin:-7px 0 0 1px !important;
}
.input_field_sections #tags_tagsinput{
    width: 100% !important;
}
.input_text_fields div.tagsinput span.tag{
    background: #0fb0c0 !important;
    border: 1px solid #0fb0c0 !important;
}
.input_text_fields div.tagsinput span.tag a,.input_text_fields div.tagsinput span.tag{
    color: #fff;
}

.form_input_fields {
    padding: 0 30px;
}
.forms .form-group{
    margin-bottom: 0;
}
.chosen-container{
    width: 100% !important;
}
#multiple_close .search-choice-close{
    display: none !important;
}
/*======================Form Editors=======================*/
.summernote_editor .cke_chrome {
    visibility: hidden !important;
    display: none !important;
}
.panel-heading.note-toolbar {
    border-bottom: 1px solid #ccc;
    background: #fff;
}
.summernote_editor .cke_toolbox {
    display: none !important;
    visibility: hidden !important;
}
.form_editors_textarea_wysihtml{
    width: 100%;
    height: 200px;
    font-size: 14px;
    line-height: 18px;
    border: 1px solid #dddddd;
    padding: 10px;
}
.note-popover{
    display: none;
}
.note-btn-group .note-check li{
    margin-left: -10px;
}
.note-style li {
    padding-left: 10px;
}
.wysihtml5-toolbar .dropdown.open .dropdown-menu li{
    padding-left: 10px;
}
.summernote_editor .cke_chrome
{
    visibility:hidden !important;
    display: none !important;
}
[data-original-title="Font Family"]{
    min-width:110px;
}
.dropdown-menu.note-check.dropdown-fontname{
    min-width:130px;
    padding-left: 15px;
}
.note-editor.note-frame.fullscreen{
    z-index: 10500 !important;
}
.summer_note_btn .btn-default {
    background-color: #fff;
    color: #282828;
}
.tinymce_full #mceu_21{
    z-index: 1020;
}
div.mce-fullscreen{
    top:-1px !important;
    bottom:0 !important;
}
.summer_note_btn .btn-default:hover {
    background-color: #e6e6e6;
    border-color: #00c0ef;
    color: #282828;
}

.summer_note .btn-group,.wysihtml5-toolbar .btn-group,.note-color .btn-group{
    display: inline-block;
}
.note-editable ul li img{
    width: 100% !important;
}
.wysihtml5-toolbar .btn-outline-primary {
    color: #5a5a5a !important;
}
.wysihtml5-toolbar .btn-outline-primary:hover{
    background-color: transparent;
}
.note-icon-caret{
    display: none;
}
blockquote{
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 18px;
    border-left: 5px solid #eeeeee;
}
pre{
    display: block;
    margin: 10px 10px 0 0;
    padding: 5px 10px;
    margin-bottom: 1rem;
    color: #292b2c;
    line-height: 1.428571429;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}
/*multiselect*/
.ms-container{
    width: 100%;
}
.ms-selectable input,.ms-selection input{
    width:100%;
}
.custom-header {
    text-align: center;
    padding: 3px;
    background: #00c0ef;
    color: #fff;
}
#ms-multi_select3 .ms-list,#ms-multi_select4 .ms-list{
    border-radius: 0;
}
#ms-multi_select4 input{
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
@media (max-width:992px)
{
    .hidden-xs
    {
        display:none !important;
    }
}

.note-popover .popover-content .note-para .dropdown-menu, .panel-heading.note-toolbar .note-para .dropdown-menu{
    min-width:185px !important
}
@media (max-width: 346px) {
    .note-popover .popover-content .note-color .dropdown-menu, .panel-heading.note-toolbar .note-color .dropdown-menu {
        min-width: 165px;
    }
}
@media (min-width: 347px) and (max-width: 475px) {
    .note-popover .popover-content .note-color .dropdown-menu, .panel-heading.note-toolbar .note-color .dropdown-menu {
        min-width: 165px;
        margin-left: -100px;
    }
}
@media (min-width: 525px) and (max-width: 890px) {
    .note-popover .popover-content .note-color .dropdown-menu, .panel-heading.note-toolbar .note-color .dropdown-menu {
        min-width: 240px;
    }
}
@media (min-width: 440px) and (max-width: 860px) {
    .note-popover .popover-content .note-para .dropdown-menu, .panel-heading.note-toolbar .note-para .dropdown-menu {
        left: -90px;
    }
}
.note-para .note-btn:nth-child(1){
    border-radius: 0;
}
.note-para .note-btn-group .note-btn{
    border-bottom-left-radius: 3px !important;
    border-top-left-radius: 3px !important;
}
.note-para .note-btn:nth-child(2){
    border-bottom-right-radius: 3px !important;
    border-top-right-radius: 3px !important;
}
.wysihtml5-toolbar .dropdown-menu a{
    background-color: #fff;
    color:#5a5a5a;
    display:block;
    padding: 0 10px;
}
.wysihtml5-toolbar .dropdown-menu li>a:hover,.wysihtml5-toolbar .dropdown-menu li>a.wysihtml5-command-active{
    color: #fff !important;
    text-decoration: none;
    background-color: #0088cc !important;
}
.wysihtml5-toolbar .btn-group .btn{
    padding: 8px 10px 9px 10px !important;
}
.wysihtml5-command-active{
    background-color:#60686f !important;
    color: #fff;

}
.wysihtml5-toolbar .btn-group .btn-secondary{
    margin-left:-3px;
}
.form-control-warning{
    border-color: #cc8001 !important;
}
.form-control-warning:focus{
    box-shadow: 0 0 0 0.2rem rgba(204, 128, 0, 0.25);
}
@media (max-width:320px) {
    .wysihtml5-toolbar li.dropdown:nth-child(1){
        margin-bottom:5px !important;
    }
}
.bg-container .modal-footer{
    display: block !important;
}